// .footer {
// 	width: 100%;
// 	background: #363636;
// 	.container {
// 		padding: 4rem 1.5rem;

// 		@include flex(row, space-between, center);
// 		& > div {
// 			width: calc(100% / 3);
// 		}
// 	}

// 	&__info {
// 		.logo {
// 			margin-bottom: 3.7rem;
// 		}
// 		p:last-child {
// 			font-size: 1.4rem;
// 			color: $white-cl;
// 		}
// 	}

// 	&__menu {
// 		max-width: 30rem;

// 		h2 {
// 			margin-bottom: 1.4rem;
// 			font-size: 1.6rem;
// 		}

// 		li {
// 			a {
// 				width: 100%;
// 				display: inline-block;
// 				color: $white-cl;
// 				font-size: 1.4rem;
// 				padding: 1.2rem 0;
// 				border-bottom: 1px solid $border-cl;

// 				@include flex(row, space-between);
// 				@include transition(color $t);
// 			}

// 			&:hover {
// 				a {
// 					color: $main-cl;
// 				}
// 			}
// 		}
// 	}

// 	.author {
// 		padding: 1.5rem 0;

// 		background: #303030;
// 		text-align: center;
// 		color: $white-cl;
// 		font-size: 1.2rem;
// 		span {
// 			color: $main-cl;
// 		}
// 	}

// 	@include mobile {
// 		.container {
// 			flex-direction: column;
// 			div {
// 				width: 100%;
// 				margin-bottom: 3rem;
// 			}
// 		}
// 		&__menu {
// 			max-width: 100%;
// 		}

// 		.author {
// 			// margin-top: 2rem;
// 		}
// 	}
// }

// .footer {
// 	border-top: 1px solid $border-cl;
// 	padding-top: 3rem;
// 	.container {
// 		@include flex(row, space-between, center, wrap);
// 		& > div {
// 			width: calc(100% / 3 - 2rem);
// 		}
// 	}

// 	//Info
// 	&__info {
// 		& > *:not(:last-child) {
// 			margin-bottom: 3rem;
// 		}

// 		.logo {
// 			max-height: 11rem;
// 			width: auto;
// 		}
// 	}
// 	&__desc {
// 		font-size: 1.4rem;
// 		color: $text-black-cl;
// 		@include leading(14, 20);
// 	}
// 	&__quote {
// 		font-size: 1.8rem;
// 		font-weight: 500;
// 		text-transform: uppercase;
// 		font-style: italic;
// 	}

// 	//Menu
// 	&__list {
// 		li {
// 			padding: 0.5rem 1rem;
// 			margin-bottom: 2rem;
// 			font-size: 1.6rem;
// 			border-left: 3px solid $main-cl;
// 			small {
// 				display: block;
// 				font-size: 1.2rem;
// 				margin-bottom: 0.5rem;
// 				@include tracking(50);
// 			}
// 		}
// 	}
// 	//Author
// 	&__author {
// 		width: 100% !important;
// 		padding: 2rem 0;
// 		margin-top: 3rem;
// 		font-size: 1.4rem;
// 		text-align: center;
// 		border-top: 1px solid $border-cl;
// 		@include leading(14, 30);
// 	}

// 	@include mobile {
// 		& {
// 			.container {
// 				flex-direction: column;
// 				& > div {
// 					width: 100%;
// 					margin-bottom: 2rem;
// 				}
// 			}
// 		}
// 	}
// }

.footer {
	background: #010004;
	color: $white-cl;
	.container {
		padding: 9rem 0 11rem;
		@include flex(row, space-between, stretch, wrap);
		& > * {
			padding: 0 1.5rem;
		}
	}
	&__info {
		width: calc(100% / 12 * 6);

		.info {
			margin-bottom: 4rem;
			h3 {
				font-size: 1.6rem;
				font-weight: bold;
				margin-bottom: 2rem;
			}
			p {
				max-width: 50rem;
				font-size: 1.4rem;
				@include leading(14, 24);
			}
		}
		.social {
			margin-bottom: 2rem;
			font-size: 1.6rem;
			font-weight: bold;
			a {
				display: inline-block;
				color: $white-cl;
				text-align: center;
				margin: 0 1rem;
			}
		}
		ul {
			@include flex(row, flex-start, center, wrap);
			li {
				position: relative;
				margin-right: 2rem;
				a {
					color: $white-cl;
					font-size: 1.2rem;
					@include leading(12, 36);
				}
				&:not(:last-child)::after {
					content: '';
					position: absolute;
					top: 50%;
					right: -1rem;
					width: 0.2rem;
					height: 1rem;
					background: $white-cl;
					@include transform(translateY(-50%));
				}
			}
		}
	}
	&__list {
		width: calc(100% / 12 * 2);
		li {
			width: 100%;
			padding-bottom: 2.5rem;
			a {
				font-size: 1.6rem;
				color: $white-cl;
			}
		}
	}
	&__noti {
		width: calc(100% / 12 * 4);
		h3 {
			margin-bottom: 1rem;
			text-transform: uppercase;
			font-size: 1.8rem;
			@include leading(18, 36);
		}
		.input {
			margin-bottom: 4rem;
			@include flex(column, flex-start);
			& > * {
				margin-bottom: 1rem;
				// padidng: ;
				height: 4.5rem;
				border: none;
				outline: none;
				@include br(5px);
			}
			div > a {
				font-size: 1.6rem;
				height: 100%;
				width: 100%;
				background: #555555;
				color: $white-cl;
				@include mid-flex;
				@include br(5px);
			}
		}
		p {
			font-size: 1.4rem;
			color: #555555;
		}
	}
	@include desktop {
		&__info {
			width: calc(100% / 12 * 6);
		}
		&__list {
			width: calc(100% / 12 * 3);
		}
		&__noti {
			width: calc(100% / 12 * 3);
		}
	}
	@include mobile {
		.container {
			padding: 5rem 0;
			flex-direction: column;
			& > * {
				width: 100%;
			}
		}
		&__info {
			margin-bottom: 2.5rem;
		}
		&__noti {
			h3 {
				font-size: 1.6rem;
			}
		}
	}
}
