/* Academy */
.academy {
	padding: 7rem 0;
	.main-title {
		margin-bottom: 3rem;
	}
	//Left
	&__left {
		& > *:not(:last-child) {
			margin-bottom: 4rem;
		}
		h3 {
			font-weight: bold;
			font-size: 1.8rem;
			margin-bottom: 3rem;
		}
	}
	&__banner {
		img {
			width: 100%;
			max-height: 46rem;
			margin-bottom: 4rem;
			object-fit: cover;
		}
	}
	&__content {
		p {
			text-align: justify;
			font-size: 1.4rem;
			line-height: 1.5;
			&:first-child {
				margin-bottom: 2rem;
			}
		}
	}
	&__info {
		td {
			font-size: 1.4rem;
			padding: 2.5rem;
			border: 1px solid $border-cl;
			ul {
				padding-left: 1rem;
				li {
					list-style-type: disc;
					&:not(:last-child) {
						margin-bottom: 1.5rem;
					}
				}
			}
			&:first-child {
				width: 50%;
				vertical-align: middle;
			}
		}
	}
	&__course-content {
		ul {
			li {
				font-size: 1.4rem;
				list-style-type: disc;
				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}
			}
		}
	}
	&__video {
		width: 100%;
		max-height: 46rem;
	}
	&__form form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 7.5rem);
		grid-gap: 3rem;
		font-size: 1.4rem;

		label {
			display: inline-block;
			margin-bottom: 1rem;
		}
		input,
		select {
			width: 100%;
			padding: 2rem;
			border: 1px solid $border-cl;
			outline: none;
			color: $text-gray-cl;
		}
		.btn {
			grid-row: 4/5;
		}
	}
	//Right
	@include tablet {
		&__course-content {
			ul {
				li {
					list-style-type: none;
				}
			}
		}
		.aside__blog {
			margin-bottom: 0;
		}
	}
	@include mobile {
		& {
			padding: 4rem 0;
		}

		//Left
		&__left {
			& > *:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
		&__banner {
			img {
				margin-bottom: 2rem;
			}
		}
		&__form form {
			margin-bottom: 2rem;
			grid-template-columns: 1fr;
			.btn {
				grid-row: 6 / 7;
			}
		}
	}
}
/* Academy - End */
